.logo {
  display: inline-flex;
  align-items: center;
  gap: 0.2rem;
  color: var(--color-primary);
}

.symbol {
  width: 60px;
  height: auto;
}

.text {
  display: flex;
  flex-direction: column;
  font-weight: var(--font-weight-regular);
  font-size: 1.5rem;
}

