.logo {
  position: relative;
  display: inline-flex;
  align-items: center;
  min-height: 3.25rem;
  padding-left: 3.7rem;
  color: var(--color-primary);
}

.symbolWrap {
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-flex;
  line-height: 0;
}

.symbol {
  width: 60px;
  height: auto;
}

.text {
  display: flex;
  flex-direction: column;
  font-weight: var(--font-weight-regular);
  font-size: 1.5rem;
}

